body{
    font-family: "Ubuntu", sans-serif;
    background-color: #000000;
}

h1, h2{
    font-size: 4em;
    color: #dd0000;
}
h4{
    font-size: 2em;
    color: #dd0000;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.terminal-header{
    background-color: #455A64;
    height: 625px;
    border-top-right-radius: 1%;
    border-top-left-radius: 1%;
}
#terminal-window{
    background-color: #37474F;
    width: 100%;
    height: 600px;
    position: absolute;
    bottom: 0px;
    border: 2px solid #455A64;
    border-top-width: 0px;
    padding: 0;
}

#terminal-window p{
    margin-bottom: 0;
}

p {
    font-weight: 700;
    color: rgb(219, 219, 219);
}
#header-text{
    margin-left: 20px;
    margin-left: 20px;
    position: absolute;
    top: 2px;
}

.terminal-text{
    float: left;
    margin-left: 0;
    display: inline;
}
p .terminal-text{
    float: left;
    display: block;
}

.new-terminal-text{
    display: block;
    float: left;
    margin-bottom: 0;
}

form{
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
    float: left;
}

.form_wrapper{
    display: inline;
}

textarea{
    background: transparent;
    border: none;
    font-weight: 700;
    display: inline;
    padding: 0;
    margin-top: 0;
    resize: none;
    autofocus: true;
}

textarea:focus{
    outline: none;
    color: rgb(219, 219, 219);
}


.close{
    float: left;
    margin-left: 0;
    background-color: #dd0000;
    border: 1.5px solid rgba(172, 172, 172, 1);
    border-radius: 11px;
    box-shadow: 1px 1px 1px black;
    color: rgba(172, 172, 172, 1);
    height: 22px;
    width: 22px;
    padding: 2px 2px 4px 3px;
    text-align: center;
    min-width: 14px;
    position: relative;
    font-size: smaller;
    bottom: -1px;
    opacity: .8;
}

#About{
    background-color: #37474F; /*#37474F951e1e*/
}

#Contact{
    background-color: #273338; /*#b52d2a*/
}

#Links{
    background-color: #1b2327; /*#c34441*/
}

.section p{
    font-size: 1.5em;
}
.img-container{
    border-radius: 50%;
    background-color: #37474F;
}
img{
    width: 100%;
}

#Links img{
    width: 10em;
}