<header>
  <div class="page-links">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    {% for my_page in site.pages %}
      {% if my_page.title and my_page.displaytop %}
      • <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
	  {% endfor %}
	   • <a class="page-link" href="https://sethrait.com/resume.pdf"> Resume </a>
	   • <a class="page-link" href="https://sethrait.com/tag.html"> Tags </a>
  </div>
  <section>
	  <h1><a class="name-link" href="http://sethrait.com">{{ site.title }}</a></h1>
      <h3>{{ site.description }}</h3>
  </section>
  </header>
