
$baseurl: '{{ site.baseurl }}';
$grey-color: #828282;

@import 'tufte';
@import 'syntax-highlighting';

main {
  margin-top: 20px;
}

.page-link{
  font-size: 1.5em;
}

body{
}

amp-img {
  background-color: grey;
}

article {
  padding: 0.3rem 0;
}

time {
	font-size: 1.3rem;
}

.articles {
	padding-top: 10rem;
}

header {
  margin-top: 10px;
  text-align: right;
  padding-right: 10em;
  position: fixed;
  width: 40%;
  display: inline-block;
  float: right;
  margin-left: 40%;
  z-index: 100000;
}


@media screen and (max-width: 80em) {
    header {
	text-align: left;
	padding-right: 1em;
	padding-bottom: 2em;
	position: relative;
	width: 100%;
	float: left;
	margin-left: inherit;
	z-index: 10000;
    }
}
.post-meta {
  font-size: 1.3rem;
  line-height: normal;
}

.tag {
  font-size: 0.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 2px solid #fbe6d6;
  border-radius: 5px;
  background-color: #fbe6d6;
  text-decoration-line: none;
  padding: 2px 2px 2px 4px;
}

pre {
  width: 52.5%;
  padding-left: 2.5%;
  overflow-x: auto;
}

@media (max-width: 760px) {
  pre {
    width: 90%;
    padding: 0;
  }
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
}
