
$baseurl: '{{ site.baseurl }}';
$grey-color: #828282;

@import 'tufte';
@import 'syntax-highlighting';

main {
  margin-top: 20px;
}

.page-link{
  font-size: 1.5em;
}

body{
}

amp-img {
  background-color: grey;
}

article {
  padding: 2.5rem 0;
}

header {
  margin-top: 10px;
  text-align: right;
  padding-right: 10em;
  position: fixed;
  width: 80%;
  z-index: 100000;
}


@media screen and (max-width: 1460px) {
    header {
	text-align: left;
	padding-right: 1em;
	position: relative;
	width: inherit;
	z-index: 10000;
    }
}
.post-meta {
  margin-top: 10px;
}

pre {
  width: 52.5%;
  padding-left: 2.5%;
  overflow-x: auto;
}

@media (max-width: 760px) {
  pre {
    width: 90%;
    padding: 0;
  }
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
}
